language: python

python:
  - "2.7"

virtualenv:
  system_site_packages: true

before_install:
 - sudo apt-get update -qq
 - sudo apt-get install -y python2.7 gir1.2-gtk-3.0 python-gi-cairo python-mpltoolkits.basemap python-numpy python-matplotlib python-libhamlib2 python-sphinx
 - "export DISPLAY=:99.0"
 - "sh -e /etc/init.d/xvfb start"

install:
  - sudo make install

before_script:
  - export PYTHONPATH=`pwd`:$PYTHONPATH
  
script:
  - make unittest
  - make docs
  - sudo make clean
